@keyframes float{
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
@keyframes slide{
	0%{left:-5%;}
	100%{left:10%;}
}
*{
		 box-sizing: border-box;
}

.images{
	border-radius:20px;
	max-width:60%;
height:auto;
	position:relative;
	top:15%;
	left:35%;

}
.images img{
width:30%;
height:35%;
padding:8px;
float:left;
border-radius:20px;

	}
.images img:hover{
	animation-name:float;
	animation-duration:1s;
	background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	
	}
.topmostbar{
height:12%;
width:100%;
background-color:rgb(51,85,40);
border-style:solid;
border-color:orange;
position:absolute;
top:0px;
left:0%;
}
.carouselbackground{
	width:40%;
	height:60%;
	border-radius:30px;
	position:absolute;
	top:150px;
	left:-10%;
	border-style:hidden;
	background-color:rgba(51,85,40,0.9);
}

body{
	background-image:url("logos/download.png");

}
.register{
	position:absolute;
	left:10%;
	top:90%;
	animation-name:slide;
	animation-duration:1s;
}
.register a{
	color:white;
	font-size:20px;
	padding:10px;
	width:100%;
	border-style:hidden;
	background-color:rgb(51,85,40);
	opacity:0.9;
	text-decoration: none;
	border-radius:10px;
	
}
.register a:hover{
	color:black;
	font-size:20px;
	font-family:timesnewroman;
	border-radius:10px;
	background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding:10px;
	position:relative;
	text-align:center;
	animation-name:float;
	animation-duration:2s;
	
	
}
.topmostbar img{
	padding:5px;
	width:15%;
	height:100%;
	position:relative;
	left:3.3%;
	
}


//adminstyles

a:hover {
  text-decoration: none!important;
}
.dedcription-btn {
  width: 100%;
  position: relative;
  display: inline-block;
  border-radius: 30px;
  background-color: #fcfcfc;
  color: black;
  text-align: center;
  font-size: 18px;
  padding: 9px 0;
  transition: all 0.3s;
  padding-right: 40px;
  margin: 20px 5px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
}
.dedcription-btn .btn-icon {
  background-color: #ffa000;
  width: 92px;
  height: 45px;
  float: right;
  position: absolute;
  border-radius: 30px 30px 30px 0;;
  right: 0px;
  top: 0px;
  transition: all 0.3s;
}
.name-descripeion {
  position: relative;
  z-index: 9999;
}
.btn-icon::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 45px solid #fcfcfc;
  border-right: 40px solid transparent;
  position: absolute;
  top: 0px;
  left: 0px;
}
.dedcription-btn:hover .btn-icon {
  width: 100%;
  border-radius: 30px;
}
.dedcription-btn:hover .btn-icon::after {
  display: none;
  opacity: 0.1;
}
.btn-icon i {
  position: absolute;
  right: 25px;
  top: 15px;
  color: #fff;
}
.dedcription-btn:hover {
  color: #fff!important;
}
.heart {
  background-color: #ff586b!important;
}
.book {
  background-color: #00b7c4!important;
}
.brain {
  background-color: #8bc34a!important;
}
.hover-box {
  display:flex;
  max-width:50%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position:absolute;
  left:2%;	
  top:0%;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
.title {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
    animation-name: onloadAnim;
    animation-duration: 1s;
}
.formDiv {
    position: absolute;
    top: 30%;
	left:70%
	
	
}
.formDiv a {
    display: block;
    width: 100%;
    text-align: center;
    color: #ffa467;
    margin-top: 8px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.3s;
    animation-name: onloadAnim;
    animation-duration: 1s;
}
.formDiv a:hover {
    color: #fff;
}
.input-group {
    max-width: 350px;
    width: 100%;
    background: #f0f0f0;
    margin: 10px 0;
    height: 50px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    animation-name: onloadAnim;
    animation-duration: 1s;
}
.input-group i {
    text-align: center;
    line-height: 50px;
    color: #acacac;
    transition: 0.5s;
    font-size: 15px;
}
.input-group input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 500;
    font-size: 14px;
    color: #333;
    transition: 0.3s;
}
.btn {
    width: 100%;
    height: 45px;
    max-width: 350px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 25px;
    color: #f26200;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
    margin-top: 10px;
    animation-name: onloadAnim;
    animation-duration: 1s;
}
.btn i {
    font-size: 12px;
    margin-left: 4px;
}
.btn:hover {
    background: none;
    color: #fff;
}

@keyframes onloadAnim {
    from {
        transform: translateY(-88%);
    }
    to {
        transform: translateY(0);
    }
}

//kreedaadmin styles
